.userBlocks{
    display: flex;
    gap: 5px;
}
.userBlock{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
.addNewUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.UserPage >.header{
    display: flex;
}
.goBack{
    width: 60px;
    height: 40px;
    font-size: 20px;
    background-color: orange;
}
.goBack:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.boardBlocks{
    display: flex;
    gap:10px;

}
.boardBlock{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:aquamarine;
}
.newBoardInput{
    width: 130px;
}
.tasks{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.taskColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: 1px solid black;
    width: 200px;
}
.statusTitle{
    border-bottom: 1px solid black;

}
.task{
    border-bottom: 1px solid black;
    height: 150px;
    background-color: orange;
    text-align: center;
}
.tasksdiv{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.taskTitle{
    background-color: orange;
    width: 90%;

    height: 100px;
    outline: none;
}
